<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/scss/adminPanel.css">
    <script type="module" src="/static/js/adminPanel.js" defer></script>
</head>
<body>
<main>
    <div class="adminPanel">
        <div class="btnsBar">
            <button onclick="document.location.href = '/createBrick'">Create brick</button>
        </div>
        <div class="filterWrapper">
            <div class="filter">
                <div class="iconWrapper">
                    <img src="/static/assets/img/filter.svg" alt="" class="iconFilter">
                </div>
                <label class="labelSelector" for="selectPriceFilter">По цене:<br>
                    <select id="selectPriceFilter">
                        <option value="NOT">Не фильтровать</option>
                        <option value="PRICE_DAWN">По убыванию</option>
                        <option value="PRICE_UP">По возрастанию</option>
                    </select>

                </label>
                <label class="labelSelector" for="selectIdFilter">По id:<br>
                    <select id="selectIdFilter">
                        <option value="NOT">Не фильтровать</option>
                        <option value="ID_DAWN">По убыванию</option>
                        <option value="ID_UP">По возрастанию</option>
                    </select>
                </label>
                <label class="labelSelector" for="search">Поиск по имени:<br>
                    <input type="text" id="search">
                </label>
                <label class="labelSelector" for="searchByID">Поиск по id:<br>
                    <input type="number" id="searchByID">
                </label>
            </div>
        </div>
        <div class="loaderWrapper">
            <div class="loader"><div></div><div></div><div></div></div>
        </div>
        <div class="brickList"></div>
        <div class="nothingFoundWrapper hidden">
            <div class="nothingFound">
                НИЧЕГО НЕ НАЙДЕНО
            </div>
        </div>
    </div>
</main>
</body>
</html>