<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="каталог кирпичей в казани">
    <meta name="keywords" content="каталог, кирпич, казань">
    <title>Title</title>
    <link rel="stylesheet" href="/static/scss/catalog.css">
</head>
<body>
<header>
    <nav>
        <div class="headerBg"></div>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/catalog">Продукция</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </nav>
</header>
<div class="materialHeader"></div>

<main>
    <div class="filterWrapper">
        <div class="filter">
            <div class="iconWrapper">
                <img src="/static/assets/img/filter.svg" alt="" class="iconFilter">
            </div>
            <label class="labelSelector" for="selectBrickType">Тип товара:<br>
                <select name="brickType" id="selectBrickType">
                    <option value="BRICK">Кирпич</option>
                    <option value="PAVING_STONES">Брусчатка</option>
                </select>
            </label>
            <label class="labelSelector" for="selectPriceFilter">По цене:<br>
                <select name="brickType" id="selectPriceFilter">
                    <option value="UP">По возрастанию</option>
                    <option value="DAWN">По убыванию</option>
                </select>
            </label>
        </div>
    </div>

    <div class="catalog">
        <div class="card">
            <div class="icon">
                <img src="" alt="">
            </div>
            <span class="brickName">
                    .......................
                </span>
            <span class="brickSize">
                <span class="sizeName">
                    Размер:
                </span>
                ..cm * ..cm * ..cm
            </span> <span class="priceName">
                    Цена: <span class="price">...P</span>
            </span>
        </div>

        <div class="card">
            <div class="icon">
                <img src="" alt="">
            </div>
            <span class="brickName">
                    .......................
                </span>
            <span class="brickSize">
                <span class="sizeName">
                    Размер:
                </span>
                ..cm * ..cm * ..cm
            </span> <span class="priceName">
                    Цена: <span class="price">...P</span>
            </span>
        </div>
        <div class="card">
            <div class="icon">
                <img src="" alt="">
            </div>
            <span class="brickName">
                    .......................
                </span>
            <span class="brickSize">
                <span class="sizeName">
                    Размер:
                </span>
                ..cm * ..cm * ..cm
            </span> <span class="priceName">
                    Цена: <span class="price">...P</span>
            </span>
        </div>
        <div class="card">
            <div class="icon">
                <img src="" alt="">
            </div>
            <span class="brickName">
                    .......................
                </span>
            <span class="brickSize">
                <span class="sizeName">
                    Размер:
                </span>
                ..cm * ..cm * ..cm
            </span> <span class="priceName">
                    Цена: <span class="price">...P</span>
            </span>
        </div>
        <div class="card">
            <div class="icon">
                <img src="" alt="">
            </div>
            <span class="brickName">
                    .......................
                </span>
            <span class="brickSize">
                <span class="sizeName">
                    Размер:
                </span>
                ..cm * ..cm * ..cm
            </span> <span class="priceName">
                    Цена: <span class="price">...P</span>
            </span>
        </div>

        <div class="card">
            <div class="icon">
                <img src="" alt="">
            </div>
            <span class="brickName">
                    ..................................
                </span>
            <span class="brickSize">
                <span class="sizeName">
                    Размер:
                </span>
                ..cm * ..cm * ..cm
            </span> <span class="priceName">
                    Цена: <span class="price">...P</span>
            </span>
        </div>
        <div class="card">
            <div class="icon">
                <img src="" alt="">
            </div>
            <span class="brickName">
                    .......................
                </span>
            <span class="brickSize">
                <span class="sizeName">
                    Размер:
                </span>
                ..cm * ..cm * ..cm
            </span> <span class="priceName">
                    Цена: <span class="price">...P</span>
            </span>
        </div>
        <div class="card">
            <div class="icon">
                <img src="" alt="">
            </div>
            <span class="brickName">
                    .......................
                </span>
            <span class="brickSize">
                <span class="sizeName">
                    Размер:
                </span>
                ..cm * ..cm * ..cm
            </span> <span class="priceName">
                    Цена: <span class="price">...P</span>
            </span>
        </div>
    </div>
</main>

</body>
</html>