<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="каталог кирпичей в казани">
    <meta name="keywords" content="каталог, кирпич, казань">
    <title>Catalog</title>
    <link rel="stylesheet" href="/static/scss/catalog.css">
    <script type="module" src="/static/js/catalog.js" defer></script>
</head>
<body>
<header>
    <nav>
        <div class="headerBg"></div>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/catalog">Продукция</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </nav>
</header>
<div class="materialHeader"></div>

<main>
    <div class="filterWrapper">
        <div class="filter">
            <div class="iconWrapper">
                <img src="/static/assets/img/filter.svg" alt="" class="iconFilter">
            </div>
            <label class="labelSelector" for="selectPriceFilter">По цене:<br>
                <select name="brickType" id="selectPriceFilter">
                    <option value="DAWN">По убыванию</option>
                    <option value="UP">По возрастанию</option>
                </select>
            </label>
            <label class="labelSelector" for="search">Поиск:<br>
                <input type="text" id="search">
            </label>
        </div>
    </div>
    <div class="loaderWrapper">
        <div class="loader"><div></div><div></div><div></div></div>
    </div>
    <div class="catalog">

    </div>
    <div class="paginationWrapper">
        <div class="paginationBtn arrow disabled" id="arrowLeft">
            <a>«</a>
        </div>
        <div class="pagesWrapper">

        </div>
        <div class="paginationBtn arrow" id="arrowRight">
            <a>»</a>
        </div>
    </div>
</main>

</body>
</html>