<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="кирпичный завод ***** в городе">
    <meta name="keywords" content="завод, кирпич, город">
    <link rel="stylesheet" href="/static/scss/contacts.css">
    <link rel="icon" type="image/png" href="http://localhost:8080/favicon.png">
</head>
<body>
<header>
    <nav>
        <div class="headerBg"></div>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/catalog">Продукция</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </nav>
</header>
<div class="materialHeader"></div>

<main>
    <div class="contactsWrapper">
        <div class="companyAttributes">
            <img src="/static/assets/img/transparent-logo.png" alt="">
            <h1 class="companyName">Кирпичный завод *****</h1>
        </div>
        <h1 class="contactsTitle">НАШИ КОНТАКТЫ</h1>
        <div class="contacts">
            <p>
                <span class="question">Email</span>
                <span class="answer"><a href="mailto:salihovtahir2007@gmail.com">email@gmail.com</a></span>
            </p>
            <p>
                <span class="question">Номер телефона</span>
                <span class="answer">+# ### ### ##-##</span>
            </p>
            <p>
                <span class="question">Адрес</span>
                <span class="answer">
                    <a href="https://www.google.com/maps/place/%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F/@55,103,3z/data=!3m1!4b1!4m5!3m4!1s0x453c569a896724fb:0x1409fdf86611f613!8m2!3d61.52401!4d105.318756">Улица **** дом **</a>
                </span>
            </p>

        </div>
    </div>
</main>
</body>
</html>