<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="кирпичный завод братья в казани">
    <meta name="keywords" content="завод, кирпич, казань">
    <title>О компании</title>
    <link rel="stylesheet" href="/static/scss/index.css">
    <script src="/static/js/index.js" defer></script>
</head>
<body>
<header>
    <nav>
        <div class="headerBg"></div>
        <ul>
            <li><a href="">Главная</a></li>
            <li><a href="/catalog">Продукция</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </nav>
</header>
<div class="materialHeader"></div>

<main>
    <div style="background: url('/static/assets/img/background/house1.jpg') 0% 0% / cover no-repeat; opacity: 1" class="main-bg" id="main-bg-1"></div>
    <div style="background: url('/static/assets/img/background/house2.jpg') 0% 0% / cover no-repeat; opacity: 0" class="main-bg" id="main-bg-2"></div>
    <div style="background: url('/static/assets/img/background/house3.jpg') 0% 0% / cover no-repeat; opacity: 0" class="main-bg" id="main-bg-3"></div>
    <div style="background: url('/static/assets/img/background/house4.jpg') 0% 0% / cover no-repeat; opacity: 0" class="main-bg" id="main-bg-4"></div>
    <div style="background: url('/static/assets/img/background/house5.jpg') 0% 0% / cover no-repeat; opacity: 0" class="main-bg" id="main-bg-5"></div>
    <div style="background: url('/static/assets/img/background/house6.jpg') 0% 0% / cover no-repeat; opacity: 0" class="main-bg" id="main-bg-6"></div>

    <div class="aboutUsWrapper">
        <h1>
            <div class="logo">
                <img src="/static/assets/img/transparent-logo.png" alt="">
                <h2>Кирпичный завод ******</h2>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto assumenda consectetur cumque
                distinctio dolor doloremque ea earum eligendi iusto natus quae, sed sit suscipit vitae. Ad magni quidem
                veniam!
            </div>
            <div>Accusantium architecto, delectus dolorem eum eveniet expedita fugit id impedit ipsam laborum molestiae
                nesciunt nihil numquam odit, omnis perferendis quibusdam sed tempore veritatis vitae? At corporis,
                similique? Eligendi, harum, quam.
            </div>
            <div>Doloremque inventore reiciendis rerum unde? Aliquam culpa cum debitis, distinctio dolores eveniet,
                harum iste laborum magnam omnis rem sed temporibus vero. Amet dolor eligendi eveniet modi quisquam
                repudiandae sapiente similique.
            </div>
            <div>Consequuntur esse id laboriosam molestiae nostrum perferendis recusandae, voluptatibus. Assumenda
                eveniet odit provident quo ut! Doloribus exercitationem, facere illo iste optio sed? Dignissimos dolores
                eaque iste natus nulla numquam soluta!
            </div>
            <div>Ad animi cumque dignissimos distinctio earum eum facilis fugiat hic ipsum minima odio provident ratione
                rem sunt suscipit unde, voluptates voluptatum. Dolores eos minima natus placeat rem repudiandae sint
                tempore.
            </div>
            <div>Debitis deserunt distinctio, doloremque enim, harum illum incidunt ipsam itaque laboriosam quia, sint
                sit? Culpa dolores exercitationem expedita facere, impedit iste quos saepe sequi velit? Eaque odit quas
                suscipit tempore.
            </div>
            <div>Accusamus accusantium aliquam delectus dolores ea earum ex explicabo facere harum hic iste iusto minima
                mollitia, nam nobis officia officiis possimus quasi quo recusandae rem repudiandae temporibus velit?
                Asperiores, impedit.
            </div>
            <div>Accusantium eligendi explicabo necessitatibus porro quae. Asperiores atque deleniti, eligendi enim esse
                illum magnam nesciunt officia optio porro rem sed tenetur vel voluptatem voluptatibus. Id iste nostrum
                possimus quam quod.
            </div>
            <div>Consequatur corporis culpa deleniti dignissimos dolore ea est eum excepturi expedita ipsam ipsum libero
                molestiae, nam neque nihil non pariatur porro provident quo rem repellendus suscipit unde, velit veniam
                voluptatibus.
            </div>
            <div>Eveniet hic molestiae natus officia, quo rem veritatis. Assumenda deserunt, dolorem est fugiat labore
                libero nam numquam porro quidem sequi veritatis voluptatem? Debitis doloremque impedit inventore sit
                vero! Facere, minima.
            </div>
        </h1>
    </div>

    <div class="ourPriorityWrapper">
        <div class="listPriorityWrapper">
            <h1>Наши приоритеты</h1>
            <ul>
                <li>
                    <div class="priorityWrapper">
                        <div class="circle"></div>
                        <span>Безопасность</span>
                    </div>
                </li>
                <div class="chain"></div>
                <li>
                    <div class="priorityWrapper">
                        <div class="circle"></div>
                        <span>Технологии</span>
                    </div>
                </li>

                <div class="chain"></div>
                <li>
                    <div class="priorityWrapper">
                        <div class="circle"></div>
                        <span>Клиентоориентированность</span>
                    </div>
                </li>
                <div class="chain"></div>
                <li>
                    <div class="priorityWrapper">
                        <div class="circle"></div>
                        <span>Постоянное совершенствование</span>
                    </div>
                </li>
                <div class="chain"></div>
                <li>
                    <div class="priorityWrapper">
                        <div class="circle"></div>
                        <span>Результат</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="zavodImgWrapper">
            <img class="shadowZavod" src="/static/assets/img/zavod.jpg" alt="">
            <img class="zavod" src="/static/assets/img/zavod.jpg" alt="">
        </div>
    </div>
</main>

<footer>
    <span>&#169; 2022 год. Все права защищены</span>
</footer>
</body>
</html>