<!DOCTYPE html>
<html lang="ru"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Set Brick</title>
    <link rel="stylesheet" href="/static/scss/setBrick.css">
    <link rel="icon" type="image/svg" href="http://localhost:8080/admin_favicon.svg">
    <script src="/static/js/setBrick.js" defer type="module"></script>
</head>
<body>
<main>
    <div class="formWrapper">
        <form method="post" enctype="multipart/form-data" th:action="@{/setBrick}">
        </form>
        <div class="notBrickWrapper hidden">
            Кирпич для изменений не выбран
        </div>
    </div>
</main>
</body>
</html>