* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 40px;

  .adminPanel {
    width: 60%;
    border: 1px solid black;

    .btnsBar {
      width: 100%;
      height: 30px;
      border-bottom: 1px solid black;

      button {
        cursor: pointer;
        width: calc(100% / 4);
        height: 100%;
        border-radius: 0;
        border: 0;
        background: #a4a4a4;
        font-size: 18px;
        color: #0e0e0e;
        text-decoration: none;

        &:hover {
          background: #b6b6b6;
          color: #333333;
        }
      }
    }

    .filterWrapper {
      width: 100%;
      display: flex;
      justify-content: center;

      .filter {
        width: calc((350px + 10px + 5px) * 4);
        border: 0;
        border-bottom: 1px solid black;
        height: 75px;
        display: flex;
        align-items: center;

        .iconWrapper {
          margin-left: 15px;
          margin-right: -20px;
          width: 50px;
          height: 50px;
          display: inline-block;

          img {
            width: 50px;
            height: 50px;
          }
        }

        .labelSelector {
          height: 100%;
          margin-left: 40px;
          padding-top: 10px;
          font-size: 24px;

          select {
            font-size: 18px;
            outline: none;

            &:focus {
              outline: none;
            }

            option {
              outline: none;
            }
          }

          #search {
            font-size: 16px;
            outline: none;
            width: 160px;

            &:focus {
              outline: none;
            }

            option {
              outline: none;
            }
          }
        }
      }
    }

    .brickList {
      .card {
        position: relative;
        width: 100%;
        height: 200px;
        border-bottom: 1px solid black;
        padding: 15px;
        display: flex;
        align-items: center;
        .imgWrapper {
          border: 9px solid #a8a8a8;
          border-radius: 10px;
          width: 170px;
          height: 170px;
          img {
            width: 100%;
            height: 100%;
            border: 1px solid black;
          }
        }
        .properties {
          margin-left: 15px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .idWrapper {
            font-size: 24px;
            color: #8c8c8c;
            margin-top: 12px;
          }
          .numProperty {
            margin-bottom: 12px;
            .priceWrapper {
              font-size: 18px;
              margin-bottom: 5px;
              span {
                font-weight: bold;
                color: forestgreen;
              }
            }
            .nameWrapper {
              font-size: 20px;
              margin-bottom: 5px;
              span {
                color: saddlebrown;
              }
            }
            .dimensionWrapper {
              font-size: 20px;
              span {
                font-weight: bolder;
              }
            }
          }
        }
        .redactorBtnGroup {

        }
      }
    }
  }
}