* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 900px) {
  .materialHeader {
    height: 60px;
  }
  header {
    position: absolute;
    width: 100%;
    height: 60px;
  }
  header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  header nav .headerBg {
    flex-grow: 1;
  }
  header nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  header nav ul li {
    padding-right: 25px;
    padding-left: 25px;
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    background: #fff;
  }
  header nav ul li:hover {
    background: url("../assets/img/kirpich.jpg") repeat;
  }
  header nav ul li:hover a {
    color: #ffffff;
  }
  header nav ul li a {
    font-family: "Gill Sans", sans-serif;
    color: rgb(53, 53, 53);
    font-size: 26px;
    text-decoration: none;
  }
}
@media screen and (max-width: 900px) {
  .materialHeader {
    height: 40px;
  }
  header {
    position: absolute;
    width: 100%;
    height: 40px;
    border-bottom: 3px solid black;
  }
  header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  header nav .headerBg {
    width: 0;
  }
  header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  header nav ul li {
    padding: 10px 0;
    list-style-type: none;
    border-right: 2px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 33.3333333333%;
    background: url("../assets/img/kirpich.jpg") repeat;
  }
  header nav ul li a {
    font-family: "Gill Sans", sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }
  header nav ul li:nth-child(3) {
    border-right: 0;
    width: 34%;
  }
}
header .headerBg {
  background: url("../assets/img/kirpich.jpg") repeat;
}

main .mneTrindaTitle {
  text-align: center;
}
main .filterWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .filterWrapper .filter {
  width: 1460px;
  border: 1px solid black;
  height: 75px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}
main .filterWrapper .filter .iconWrapper {
  margin-left: 15px;
  margin-right: -20px;
  width: 50px;
  height: 50px;
  display: inline-block;
}
main .filterWrapper .filter .iconWrapper img {
  width: 50px;
  height: 50px;
}
main .filterWrapper .filter .labelSelector {
  height: 100%;
  margin-left: 40px;
  padding-top: 10px;
  font-size: 24px;
}
main .filterWrapper .filter .labelSelector select {
  font-size: 18px;
  outline: none;
}
main .filterWrapper .filter .labelSelector select:focus {
  outline: none;
}
main .filterWrapper .filter .labelSelector select option {
  outline: none;
}
main .filterWrapper .filter .labelSelector #search {
  font-size: 16px;
  outline: none;
  width: 160px;
}
main .filterWrapper .filter .labelSelector #search:focus {
  outline: none;
}
main .filterWrapper .filter .labelSelector #search option {
  outline: none;
}
main .catalog {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-right: calc((100% - 1480px) / 2);
  padding-left: calc((100% - 1480px) / 2);
}
main .catalog .hidden {
  display: none;
}
main .catalog .loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
main .catalog .loaderWrapper .loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
main .catalog .loaderWrapper .loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
main .catalog .loaderWrapper .loader div:nth-child(1) {
  background: #c76c24;
  left: 8px;
  animation-delay: -0.24s;
}
main .catalog .loaderWrapper .loader div:nth-child(2) {
  background: #000;
  left: 32px;
  animation-delay: -0.12s;
}
main .catalog .loaderWrapper .loader div:nth-child(3) {
  background: #c76c24;
  left: 56px;
  animation-delay: 0;
}
@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
main .catalog .card {
  width: 350px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  text-overflow: ellipsis;
  background: #eaeaea;
}
main .catalog .card .icon {
  width: 100%;
  position: relative;
  border: 1px solid black;
  margin-bottom: 10px;
  background: white;
}
main .catalog .card .icon:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
main .catalog .card .icon img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
  top: 0;
  left: 0;
}
main .catalog .card span {
  text-overflow: ellipsis;
}
main .catalog .card .brickName {
  font-size: 24px;
  font-family: "Gill Sans", sans-serif;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
main .catalog .card .brickSize {
  font-family: "../assets/fonts/BIZ.ttf", "Segoe UI", monospace;
  font-size: 20px;
  width: 100%;
  display: block;
}
main .catalog .card .priceName {
  font-size: 22px;
  font-family: Calibri, monospace;
}
main .catalog .card .priceName .price {
  font-size: 22px;
  color: green;
}
main .catalog .card .orderBtn {
  margin-top: 2px;
  width: 100%;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 0.35em 1em calc(0.35em + 2px);
  border-radius: 3px;
  background: rgb(64, 199, 129);
  box-shadow: 0 -3px rgb(53, 167, 110) inset;
  transition: 0.2s;
}
main .catalog .card .orderBtn:hover {
  background: rgb(53, 167, 110);
}
main .catalog .card .orderBtn:active {
  background: rgb(33, 147, 90);
  box-shadow: 0 3px rgb(33, 147, 90) inset;
}
main .paginationWrapper {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
main .paginationWrapper .arrow:first-child {
  border-radius: 4px 0 0 4px;
  margin-right: 1px;
}
main .paginationWrapper .arrow:last-child {
  border-radius: 0 4px 4px 0;
}
main .paginationWrapper .paginationBtn {
  border: 1px solid gray;
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main .paginationWrapper .paginationBtn:hover {
  background: #eaeaea;
}
main .paginationWrapper .paginationBtn:active {
  background: #c2c2c2;
}
main .paginationWrapper .paginationBtn a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main .paginationWrapper .enabled {
  border: 1px solid gray;
  background: #e0e0e0;
}
main .paginationWrapper .enabled:hover {
  background: #e0e0e0;
}
main .paginationWrapper .enabled:active {
  background: #e0e0e0;
}
main .paginationWrapper .disabled {
  border: 1px solid white;
  background: white;
  color: white;
}
main .paginationWrapper .disabled:hover {
  background: white;
}
main .paginationWrapper .disabled:active {
  background: white;
}
main .paginationWrapper .pagesWrapper {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
main .paginationWrapper .pagesWrapper .paginationBtn {
  margin-right: 1px;
  border-radius: 2px;
}

@media screen and (max-width: 1480px) {
  main .catalog {
    padding-right: calc((100% - 1280px) / 2);
    padding-left: calc((100% - 1280px) / 2);
  }
  main .catalog .card {
    width: 300px;
  }
}
@media screen and (max-width: 1280px) {
  main .catalog {
    margin-top: 10px;
    padding-right: calc((100% - 1024px) / 2);
    padding-left: calc((100% - 1024px) / 2);
  }
  main .catalog .card {
    width: 250px;
    padding: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
  }
  main .catalog .card .brickName {
    font-size: 15px;
  }
  main .catalog .card .brickSize {
    font-size: 15px;
  }
  main .catalog .card .priceName {
    font-size: 15px;
  }
  main .catalog .card .priceName .price {
    font-size: 15px;
    color: green;
  }
}
@media screen and (max-width: 900px) {
  main .catalog {
    margin-top: 10px;
    padding: 0;
  }
  main .catalog .card {
    width: calc(50% - 6px);
    padding: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
  }
  main .catalog .card .icon {
    margin-bottom: 5px;
  }
  main .catalog .card .brickName {
    font-size: 18px;
  }
  main .catalog .card .brickSize {
    font-size: 16px;
    max-height: 20px;
    display: block;
  }
  main .catalog .card .brickSize .sizeName {
    font-size: 16px;
  }
  main .catalog .card .priceName {
    font-size: 17px;
  }
  main .catalog .card .priceName .price {
    font-size: 17px;
    color: green;
  }
}
@media screen and (max-width: 500px) {
  main .filterWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main .filterWrapper .filter {
    width: calc(100% - 6px);
    height: 50px;
    margin-top: 5px;
    display: flex;
    align-items: center;
  }
  main .filterWrapper .filter .iconWrapper {
    margin-left: 5px;
    margin-right: -10px;
    width: 25px;
    height: 25px;
    display: inline-block;
  }
  main .filterWrapper .filter .iconWrapper img {
    width: 25px;
    height: 25px;
  }
  main .filterWrapper .filter .labelSelector {
    height: 100%;
    margin-left: 20px;
    padding-top: 2px;
    font-size: 15px;
  }
  main .filterWrapper .filter .labelSelector select {
    font-size: 14px;
    outline: none;
  }
  main .filterWrapper .filter .labelSelector select:focus {
    outline: none;
  }
  main .filterWrapper .filter .labelSelector select option {
    outline: none;
  }
  main .catalog {
    margin-top: 10px;
  }
  main .catalog .card {
    width: calc(50% - 6px);
    padding: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
  }
  main .catalog .card .icon {
    margin-bottom: 5px;
  }
  main .catalog .card .brickSize {
    display: block;
    width: 100%;
    font-size: 13px;
  }
  main .catalog .card .brickSize .sizeName {
    display: none;
  }
  main .catalog .card .orderBtn {
    margin-top: 2px;
    width: 100%;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 0.35em 0.8em calc(0.35em + 2px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
  }
}

/*# sourceMappingURL=catalog.css.map */
